        body{
            margin: 0;
            padding: 0;
            background-color: #00838f ;
        
        }
        .btn12{
            background-color:#39ec0c ;
            color: white; 
            margin-left: 90px;
            font-size: 20px;
            margin-top: 30px;
            border: none;
        }

        header h3 {

            color:  rgb(182, 10, 10);
            margin-left: 50px;
            font-size: 25px;
            margin-bottom: 10px;

        }
    .p12{

                color: white; 
                font-size: 18px;
                margin-left: 250px;
               
                
                }


                .btn13{

                    padding: 7px;
                    margin-left: 50px;
                    margin-top: 7px;
                }

                .btn14{
                    background-color:#39ec0c ;
                    color: white; 
                    padding: 7px;
                    border: none;
                }

                .p1{
                    color: white; 
                    font-size: 18px;
                    margin-left: 50px;
                    
                    
                }
                .p13{

                    color: rgb(205, 219, 9); 
                    font-size: 20px;
                    margin-left: 50px;

                }

                